<div class="card">
  <div class="card-header">
    LISTA DE VEHICULOS
  </div>

  <div class="card-body">
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Filtro:</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Marca" [(ngModel)]="filtro"
          (blur)="consultarVehiculo()">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        FILTRADO POR: {{filtro}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <a [routerLink]="['/vehiculo/']" class="btn btn-info"> Nuevo Vehículo</a>
      </div>


    </div>
    <div class="row">
      <div class="col-sm-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <td colspan="8">
              </td>
              <td>
                <div class="row">
                  <div class="col">
                    <select class="form-control" [(ngModel)]="rows" (change)="consultarVehiculo()">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>

                  </div>
                </div>

              </td>
            </tr>

            <tr>

              <th>
                <button class="btn btn-sm" [ngClass]="{'btn-success':mostrarImagen, 'btn-primary': !mostrarImagen}"
                  (click)="mostrar()" [innerText]="mostrarImagen ? 'Ocultar Imagen' : 'Mostrar Imagen' ">
                </button>
              </th>
              <th> CODIGO</th>
              <th> MARCA</th>
              <th> MODELO</th>
              <th> AÑO</th>
              <th> KILOMETRAJE</th>
              <th> PRECIO</th>
              <th> CALIFICACION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaVehiculos">
              <td> <img [src]="item.foto" style="width: 80px;" *ngIf="this.mostrarImagen"></td>
              <td>
                <a [routerLink]="['/vehiculos/'+item.codigo]"> {{item.codigo}}</a>
              </td>
              <td> {{item.marca}}</td>
              <td> {{item.modelo | lowercase }}</td>
              <td [innerText]="item.anio"></td>
              <td> {{item.kilometraje| number }}</td>
              <td> {{item.precio | currency}}</td>
              <td>
                <app-calificacion [calificacion]="item.calificacion"></app-calificacion>
              </td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <a [routerLink]="['/vehiculos/'+item.codigo]" (click)="consultaVehiculo(item.codigo)">
                    <button type="button" class="btn btn-info">Ver</button>
                  </a>
                  <a [routerLink]="['/vehiculo/'+item.codigo]">
                    <button type="button" class="btn btn-success">Editar</button>
                  </a>
                  <button type="button" class="btn btn-danger" (click)="eliminar(item.codigo)">Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td>

              </td>
            </tr>
          </tfoot>

        </table>
      </div>
    </div>
  </div>